* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4a4057;
}

@font-face {
  font-family: "Futura Bold";
  src: url(./fonts/Futura\ Bold\ font.ttf) format("truetype");
}

.logo {
  /* position: fixed; */
  margin: 5px;
  z-index: 1;
  width: 170px;
  height: 25px;
  flex-shrink: 1;
  flex-grow: 1;
}

#main-header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 70px;
  width: 100%;
  flex-shrink: 0;
  background-image: linear-gradient(
    to right top,
    #051937,
    #1d223e,
    #2e2d45,
    #3d384c,
    #4b4453
  );
}

/* #profile-pic {
  margin-right: 10px;
} */

.profile {
  height: 60px;
  width: 60px;
  margin: 25px;
}

.profile:hover {
  cursor: pointer;
}

.left-items {
  margin-right: 10px;
}

.right-items {
  margin-left: auto;
}

.sidebar-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  width: 60px;
  height: 100%;
  background-color: #2e2d45;
}

.sidebar {
  margin: 15px;
  max-width: 40px;
  max-width: 40px;
  color: white;
}

.sidebar:hover {
  background-color: grey;
  border: 1px medium grey;
  border-radius: 5px;
  cursor: pointer;
}

a {
  margin: 0px;
  padding: 0px;
}

#search-bar {
  background-image: url(./ICONS/search\ icon.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  background-color: rgb(122, 117, 117);
  padding: 15px 15px 12px 35px;
  font-size: 16px;
  font-weight: bold;
  background-size: 25px 25px;
  border: 2px medium gray;
  color: white;
  margin: 5px;
}

#search-bar::placeholder {
  color: white;
}

#main-menu {
  background-image: url(./ICONS/menu.png);
  background-repeat: no-repeat;
  border: none;
  background-position: 1px center;
  background-size: cover;
  /* background: none; */
  padding: 0px;
  margin: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

#main-menu:hover {
  /* background-color: rgb(255, 255, 255); */
  border-radius: 50px;
  /* opacity: 0.7; */
  /* border-color: lightgrey; */
  border: 1px medium lightgray;
}

/* #main-menu-img:hover {
  opacity: 0.1;
} */
