* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4a4057;
}

@font-face {
  font-family: "Futura Bold";
  src: url(./fonts/Futura\ Bold\ font.ttf) format("truetype");
}

.logo {
  /* position: fixed; */
  margin: 5px;
  z-index: 1;
  width: 170px;
  height: 25px;
  flex-shrink: 1;
  flex-grow: 1;
}

#main-header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 70px;
  /* width: 100%; */
  background-image: linear-gradient(
    to right top,
    #051937,
    #1d223e,
    #2e2d45,
    #3d384c,
    #4b4453
  );
}

/* #profile-pic {
  margin-right: 10px;
} */

.profile {
  height: 60px;
  width: 60px;
  margin: 25px;
}

.profile:hover {
  cursor: pointer;
}

.left-items {
  margin-right: 5px;
}

.right-items {
  margin-left: auto;
}

.sidebar-container {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  width: fit-content;
  height: 100%;
  background-color: #2e2d45;
}

.sidebar {
  margin: 8px;
  max-width: 40px;
  color: white;
}

.sidebar-link:hover {
  background-color: grey;
  border: 1px medium grey;
  border-radius: 5px;
  cursor: pointer;
}

a {
  margin: 0px;
  padding: 0px;
}

#search-bar {
  background-image: url(./ICONS/search\ icon.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  background-color: rgb(122, 117, 117);
  padding: 15px 15px 12px 35px;
  font-size: 16px;
  font-weight: bold;
  background-size: 25px 25px;
  border: 2px medium gray;
  color: white;
  margin: 5px;
  flex-shrink: 2;
}

#search-bar::placeholder {
  color: white;
}

#search-bar::-webkit-search-cancel-button {
  appearance: none; /* Remove the default appearance */
  background-image: url(./ICONS/close\ icon.png); /* Replace with your custom icon */
  background-size: 35px 35px; /* Set the size of your custom icon */
  background-repeat: no-repeat;
  background-position: center;
  width: 15px; /* Adjust width and height as needed */
  height: 15px;
  border: none; /* Remove any border or outline */
  cursor: pointer;
}

#main-menu {
  background-image: url(./ICONS/menu.png);
  background-repeat: no-repeat;
  border: none;
  background-position: 1px center;
  background-size: 35px 50px;
  /* background: none; */
  /* padding: 1px; */
  margin: 20px;
  cursor: pointer;
  width: 35px;
  height: 50px;
  background-color: transparent;
  flex-shrink: 0;
}

#main-menu:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-items: center; */
}
.sidebar-text {
  color: white;
  margin: 7px;
  display: none;
}
