body {
  background-image: linear-gradient(
    to right top,
    #051937,
    #1d223e,
    #2e2d45,
    #3d384c,
    #4b4453
  );
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Registration {
  background-color: #4a4057;
  /*background-color:  #02373b;*/
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  padding: 50px;
  margin: 8% auto 8% auto;
  text-align: center;
  height: 470px;
}

.Nav,
.forpas,
.stay {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
}

.input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #b0a8b9;
  outline: none;
}

button {
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.signup-btn {
  background-color: #294d46;
  position: relative;
  bottom: 40px;
}

.signin-btn {
  background-color: #3b5998;
}

.Nav:hover {
  border-bottom: 3px solid #fff;
  transform: scaleX(0);
}

.forpas:hover {
  color: #b0a8b9;
}
.signup-btn:hover {
  opacity: 0.7;
}

.signin-btn:hover {
  opacity: 0.7;
}

#space {
  margin-right: 15px;
}

#space2 {
  margin-left: 15px;
}

.stay {
  position: relative;
  bottom: 30px;
  right: 85px;
}

.signin-btn {
  background-image: url(./Logo/facelogo.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-x: 20px;
  background-position-y: 5px;
}

hr {
  margin-top: 20px;
  width: 80%;
}

.or {
  background: #4b4453;
  width: 30px;
  margin: -17px auto 10px;
  color: #b0a8b9;
  font-weight: bold;
}

.eye {
  position: relative;
  bottom: 38px;
  left: 155px;
}

.forpas {
  position: relative;
  bottom: 40px;
}
