:root {
  --icon-height--: 50px;
  --icon-width--: 5px;
  --play-height--: 45px;
  --play-width--: 25px;
}

.artist {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  align-self: center;
  justify-self: flex-end;
}

.artist:hover {
  cursor: pointer;
  opacity: 0.8;
}

.artistName {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 17px;
  align-self: center;
}

.favorite-button,
.gosFave {
  position: relative;
  height: var(--icon-height--);
  width: var(--icon-width--);
  opacity: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.favorite-button {
  transition: transform 0.2s, color 0.2s;
}

.favorite-button.clicked,
.gosFave.clicked {
  transform: scale(1.1);
}

.favorite-button.pulse,
.gosFave.pulse {
  animation: pulse 0.5s 2;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.1);
  }
}

.add-button,
.gosAdd {
  position: relative;
  height: var(--icon-height--);
  width: var(--icon-width--);
  flex-shrink: 1;
  opacity: 0;
  flex-grow: 1;
}

.play-button,
.gosPlay {
  position: relative;
  height: var(--play-height--);
  width: var(--play-width--);
  align-self: flex-end;
  opacity: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.play-button,
.favorite-button,
.add-button,
.gosFave,
.gosAdd,
.gosPlay {
  transition: 0.2s ease-in;
}

.favorite-button:hover,
.add-button:hover,
.gosFave:hover,
.gosAdd:hover {
  transform: scale(1.1);
}
