@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=Roboto:wght@100&display=swap");

body {
  display: flex;
  flex-direction: column;
  background-color: #4a4057;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Futura Bold";
  src: url(./fonts/Futura\ Bold\ font.ttf) format("truetype");
}

.logo {
  margin: 5px;
  z-index: 1;
  min-width: 100px;
  height: 25px;
  flex: 1;
  /* flex-shrink: 1;
  flex-grow: 1; */
}

#main-header {
  display: flex;
  /* justify-content: space-between; */
  position: fixed;
  align-items: center;
  height: 70px;
  width: 100%;
  z-index: 3;
  background-image: linear-gradient(
    to right top,
    #051937,
    #1d223e,
    #2e2d45,
    #3d384c,
    #4b4453
  );
}

/* #profile-pic {
  margin-right: 10px;
} */

.profile {
  height: 60px;
  width: 60px;
  margin-right: 80px;
  border-radius: 50%;
}

#settings-profile {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.profile:hover {
  cursor: pointer;
}

#profile-pic {
  display: inline-flex;
  flex-direction: column;
  margin-top: 5px;
  gap: 10px;
}

.profile-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  transform-origin: left;
  transition: transform 0.3s ease-in;
}

.profile-link:hover {
  transform: scale(1.07);
}

.profile-icon {
  width: 40px;
  height: 40px;
}

#settings-container {
  /* display: inline-flex; */
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  gap: 20px;
  background-color: azure;
  padding: 10px;
  margin-right: 20px;
  border-radius: 3px;
  display: none;
  z-index: 2;
}

.left-items {
  margin-right: 5px;
  /* flex-shrink: 1; */
  /* flex-grow: 3; */
}

.right-items {
  margin-left: auto;
  align-self: normal;
  /* flex-grow: 1;
  flex-shrink: 1; */
}

.sidebar-container {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  position: fixed;
  width: fit-content;
  height: 100%;
  background-color: #2e2d45;
  z-index: 0;
  transition: width 0.4s ease;
}

#home {
  margin-top: 80px;
}

.sidebar {
  margin: 8px;
  max-width: 40px;
  color: white;
}

.sidebar-link:hover {
  background-color: grey;
  border: 1px medium grey;
  border-radius: 5px;
  cursor: pointer;
}

a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

#search-bar {
  background-image: url(../ICONS/search\ icon.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  background-color: rgb(122, 117, 117);
  padding: 15px 7px 12px 35px;
  font-size: 16px;
  font-weight: bold;
  background-size: 25px 25px;
  border: 2px medium gray;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

#search-bar::placeholder {
  color: white;
}

#search-bar::-webkit-search-cancel-button {
  appearance: none; /* Remove the default appearance */
  background-image: url(../ICONS/close-icon.png); /* Replace with your custom icon */
  background-size: 30px 30px; /* Set the size of your custom icon */
  background-repeat: no-repeat;
  background-position: center;
  width: 30px; /* Adjust width and height as needed */
  height: 30px;
  border: none; /* Remove any border or outline */
  cursor: pointer;
}

#mobile-search-container {
  display: none;
}

#mobile-searchbar {
  display: none;
  margin: 6px;
  width: 30px;
  height: 30px;
}

#mobile-search-input {
  display: none;
  margin-top: 60px;
  position: absolute;
  border: 2px medium gray;
  color: white;
  background-color: rgb(122, 117, 117);
  font-size: 16px;
  font-weight: bold;
}

#mobile-search-input::-webkit-search-cancel-button {
  appearance: none; /* Remove the default appearance */
  background-image: url(../ICONS/close-icon.png); /* Replace with your custom icon */
  background-size: 30px 30px; /* Set the size of your custom icon */
  background-repeat: no-repeat;
  background-position: center;
  width: 30px; /* Adjust width and height as needed */
  height: 30px;
  border: none; /* Remove any border or outline */
  cursor: pointer;
}
#main-menu {
  background-image: url(../ICONS/menu.png);
  background-repeat: no-repeat;
  border: none;
  background-position: 1px center;
  background-size: 35px 50px;
  margin: 20px;
  cursor: pointer;
  width: 35px;
  height: 50px;
  background-color: transparent;
  flex-shrink: 0;
}

#main-menu:hover {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
.sidebar-text {
  color: white;
  margin: 5px;
  font-size: 16px;
  display: flex;
  font-family: "Gabarito", cursive;
}

#music-page {
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
  /* align-items: center; */
  margin-left: 180px;
  margin-right: 10px;
  margin-top: 80px;
  margin-bottom: 10px;
  height: 100%;
}

.music-card {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 20px;
  /* align-items: center; */
  justify-items: center;
  margin-top: 10px;
  /* box-sizing: border-box; */
}

.card {
  display: block;
  gap: 1px;
  /* width: 30%; */
}

.songCover,
.albumCover {
  display: block;
  /* flex-direction: column; */
  gap: 0;
  border-radius: 4px;
  flex-basis: 155px;
  height: 160px;
  background-repeat: no-repeat;
}

.topSongsName,
.albumName {
  font-family: "Gabarito", cursive;
  color: wheat;
  font-size: 25px;
}

.topSongsArtist,
.albumArtist {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 15px;
}

.topSongsName,
.topSongsArtist,
.albumArtist,
.albumName {
  margin: 0;
}

/* Adjust the flex item size for larger screens */
@media (min-width: 1080px) {
  .card {
    flex: 2;
    /* As the screen width increases, each flex item will take up more space */
  }
}

@media (max-width: 1080px) {
  .music-card {
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
  }
}

@media (max-width: 723px) {
  #main-menu {
    margin: 0;
  }
}

@media (max-width: 650px) {
  #search-bar {
    display: none;
  }

  #mobile-searchbar {
    display: block;
    cursor: pointer;
  }

  #mobile-search-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 583px) {
  #mobile-search-input {
    left: 60px;
  }

  .sidebar-text {
    color: white;
    margin: 5px;
    font-size: 16px;
    display: none;
  }

  #music-page {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    /* align-items: center; */
    margin-left: 90px;
    margin-right: 10px;
    margin-top: 80px;
    margin-bottom: 10px;
    height: 100%;
  }
}

#top-songs {
  margin: 8px;
  font-size: 20px;
  font-family: "Gabarito", cursive;
}

#albumsTitle {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: "Gabarito", cursive;
}
